@keyframes bubbleExpand{
		0%{
			z-index: 100;
		}
		25%{
			z-index: 1000;
			left: calc(50% - 125px);
			top: calc(50% - 125px);

			/*keep size*/
			width: 250px;
			height: 250px;
			line-height:250px;
		}
		100%{
			z-index: 1000;
			width: 200%;
			height: 200%;
			left: -50%;
			top: -50%;
			opacity: 1;
		}
	}
	body{
		background-color: #74c6f9;
		height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0;
	}
	#katt{
		position: absolute;
		bottom: 0;
		width: 19%;
		right: 9%;
	}
	#logga{
		height: 8vw;
		margin: 20px;
	}
	div.round {
		border-radius: 50%;
		width: 250px;
		height: 250px;
		text-align: center;
		position: fixed;
		line-height: 250px;
		box-shadow: 0 0 3px 0 #000000b3;
		opacity: 0.9;
	}
	div.round > h1 {
		margin: 0;
	}
	#profil {
		background:#ce71d8;
		top: 10vh; left: 20vw;
		width:300px;
		height:300px;
		line-height:300px;
	}
	#schedule {
		background-color: #8592ef;
		top: 52vh;
		left: 6.5vw;
		width:270px;
		height:270px;
		line-height:270px;
	}
	#events {
		background-color: #d1d293;
		top: 69vh;
		left: 31vw;
		width:230px;
		height:230px;
		line-height:230px;
	}
	#news {
		background-color: #7ee2b4;
		top: 3vh;
		right: 15vw;
		width:300px;
		height:300px;
		line-height:300px;
	}
	#courses {
		background-color: #ef85a4;
		top: 40vh;
		left: 48vw;
		width:280px;
		height:280px;
		line-height:280px;
	}
	#teacher {
		background-color: #F3AD71;
		top: 10vh;
		left: 45vw;
		width:200px;
		height:200px;
		line-height:200px;
	}
	@media screen and (max-width: 900px) {
    	div.round {
        	border-radius: 50%;
			width: 200px !important;
			height: 200px !important;
			text-align: center;
			position: fixed;
			line-height: 200px !important;
		}
		div.round > h1 {
		font-size:25px;
	}
	#events {
		top: 73vh;
		left: 33vw;
	}
	#courses {
		top: 38vh;
		left: 60vw;
	}
	#katt{
		width:30%;
	}
	#schedule{
		top: 47vh;
    	left: 6.5vw;
	}
}
@media screen and (max-width: 590px) {
    	div.round {
			width: 200px;
			height: 200px;
			line-height: 200px;
		}
		div.round > h1 {
		font-size:25px;
	}
	#profil {
		
		top: 10vh; left: 10vw;
	}
	#schedule {
		
		top: 35vh;
    left: 15.5vw;
	}
	#events {
		
		top: 73vh; left: 14vw;
	}
	#news {
		
		top: 13vh;
		right: 5vw;
	}
	
	#courses {
		
		top: 49vh;
    left: 50vw;
	}
}
@media screen and (max-width: 490px) {
	div.round{
		width: 150px;
		height: 150px;
		line-height: 150px;
	}
	div.round > h1 {
		font-size:15px;
	}
}