body{
	width: 100%;
    height: 98vh;
    background-image: url(../img/loginBG-min.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding-top: 2vh;
}

#MainDiv{
	width: 50%;
    margin: 0 auto;
    background-color: #2196F3;
    /* background: linear-gradient(#56feff, #3edbc4, #3873ff); */
    height: 96vh;
    border-radius: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
h1{
	font-size: 4.27vw;
}
form{
	width: 65%;
	margin: 0 auto;
}

input{
	padding:8px 8px; 
	margin-bottom: 10px;
	width: calc(100% - 18px);
	border: 1px solid #cccccc;
	border-radius: 5px;
	outline:0;
	color: #151515;

	box-shadow: 0px 2px 3px -2px black;
}

input:focus{
	outline:0 !important;
}

#loginbtn{
	width:100%;
	border-radius: 20px;
	height: 35px;
	border: 0;
	background: #42b1ff;  /*box-shadow: 0px 2px 3px -2px black;*/
	box-shadow: 0px 2px 3px -2px black;
}

#checkbox{
	display: inline-block;
	transform:scale(2);
	width: 20px;
	box-shadow: 0 0 0 0;
}