body {
	height: 100vh;
	background:#98a2ea;
	margin: 0;
}
li{
	margin-top: 10px;
	margin-bottom: 10px;
}
#profileInfo, .profileDivider{
	border-radius: 10px;
	box-shadow: 0px 2px 7px -2px;

}
.profileDivider{
	width: 28vw;
	height: 28vw;
	padding:10px;

	display:inline-block;
	background:white;
}

#dividerContainer{
	display: grid;
	width: 100%;
	grid-column-gap:2vw;
	grid-row-gap:2vw;
	justify-items: center;
}
#profileInfo{
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:2;
	width: 100%;
	background:white;
	margin: 0;
	padding:10px 0;
}
#profileInfo p {
	margin:0;
	margin-left: 10px;
}
#unspecifiedDivider{
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start:2;
	grid-row-end:3;

}
#attendanceChartDivider{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:2;
	grid-row-end:3;

}
#attendanceDivider1{
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start:3;
	grid-row-end:4;

}
#attendanceDivider2{
	grid-column-start:2;
	grid-column-end:3;
	grid-row-start:3;
	grid-row-end:4;
}

#bodydiv p{
	font-size: 1.4em !important;
}
#bodydiv li{
	font-size: 0.6em !important;
}
#bodydiv h2{
	font-size: 1.3em !important
}
#narvaro{
	height: 95%;
	width: 95%;
	margin: 0 auto;
}
#bodydiv{
	margin:auto;
	width: 60%;
	padding: 10px;
	border-radius: 10px;

}
#bodydiv * {
	color:#171717;
}