body {
	height: 100vh;
	margin: 0;
	background:-webkit-linear-gradient(cornflowerblue,#8daded);
}
header {
	text-align: center;
}
header >a  {
	position: absolute;
	left: 1em;
	top: 1em;
	height: 3em;
	margin-top: -3px !important;
	
}

header > h1 {
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}
header a {
	text-decoration: none;
}
h1 {
	margin: 0;
}
#back {
	text-decoration: none;
}
#back > div {
	padding: 1em 0 0 1em;
}
#fingscrolldiv {
	height: calc(100% - 4.5em);
}
#daysContainer {
	display: flex;
}
div.day {
	flex: 1 1 auto;
	position: relative;
	width:20%;
}
.cancelledLesson{
	background:yellow !important;
}
@media only screen and (max-width: 1380px) {
	div.lesson{
		margin:0 !important;
	}
}
@media only screen and (max-width: 500px) {
	
	header {
		position: fixed;
		top: calc(100vh - 6em);
		left: 0;
		right: 0;
	}
	#daysContainer {
		width: 500vw;
	}
	div.day{
		width: 100vw;
		height: 100vw;
	}
	h1 {
		font-size: 20vw !important;
	}
	#fingscrolldiv {
		overflow-x: scroll;
		overflow-y: hidden;
	}
	#fingscrolldiv::-webkit-scrollbar{
		height: 0;
	}
	header > a {
		display: none;
	}
	#plusarrow{
		width: 10vw !important;
	}
}
div.day > h1 {
	text-align: center;
	font-size: 4vw;
}
div.lessons {
	height: 80vh;
	position: relative;
	bottom: 0;
}
div.lesson {
	background-color: white;
	color: black;
	border-radius: 1em;
	margin: 0 2em;
	padding: 0.5em;
	position: absolute;
	left: 1em;
	right: 1em;
	top: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}
div.lesson > span {
	color: black;
	display: inline-block;
	position: absolute;
}
span.name {
	top: 0;
	left: 1em;
}
span.startTime {
	top: 0;
	right: 1em;
}
span.room {
	bottom: 0;
	left: 1em;
}
span.endTime {
	bottom: 0;
	right: 1em;
}
#plusarrow{
	width: 2vw;
	margin-bottom: 0.5vh;
}

#dialog {
	position: absolute;
	top: 20%;
	bottom: 20%;
	left: 20%;
	right: 20%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 1em;
	display: none;
}
#dialog * {
	color: black;
}
#close {
	position: absolute;
	top: 1em;
	right: 1em;
	cursor: pointer;
}
#cancelButton {
	position: absolute;
	top: 4em;
	left: 1em;
	padding: 1em;
	background: yellow;
	cursor: pointer;
	border-radius: 1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#attendanceButton {
	position: absolute;
	top: 10em;
	left: 1em;
	padding: 1em;
	background: pink;
	cursor: pointer;
	border-radius: 1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-decoration: none;
}
#cancelledBy {
	position: absolute;
	display: inline-block;
	top: 7em;
	left: 1em;
}
#topRow {
	text-align: center;
}
#note {
	position: absolute;
	display: inline-block;
	width: 50%;
	right: 0;
	top: 3em;
	bottom: 0;
	text-align: right;
	margin: 1em;
}
#note > textarea {
	width: 100%;
	height: 100%;
	resize: none;
}