/* 
login.php:
lägg till font shadow på titlar

input lika stor som titel
ändra färg
mindre bubbla

index.php:
ändra storlek på bubblor, och närmare
ändra bakgrundsbild

Ändra titelfont ev. brödtext
Ändra bakgrund huvudmeny


*/

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
}

h1, h2, h3, h4, h5 {
    /* font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-family: "Frankfurter Stora" */
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


p {
    font-size: 2em;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #888888;
}

/* HEADER (excludes schedule.php)*/

header{
    width: 100%;
    height: 103px;
    text-align: center;
}
header h1 {
    display: inline-block;
    font-size: 6em;
    margin: 0 auto;
}
header a {
    display: inline-block;
    line-height: 68px;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 23px;
}
header a img{
    height: 100%;
    width: 100%;
}

/* /HEADER */