
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hem</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="css/index.css" rel="stylesheet" type="text/css">
	<script src="js/index.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body>
	<img src="img/katt.png" id="katt" alt="En very good cat bild!">
	<img src="img/cmlogga2_1.png" id="logga" alt="En very good logga bild!">
	<div class="round" id="profil"><h1>PROFIL</h1></div>
	<div class="round" id="schedule"><h1>SCHEMA</h1></div>
	<div class="round" id="events"><h1>HÄNDELSER</h1></div>
	<div class="round" id="news"><h1>NYHETER</h1></div>
	<div class="round" id="courses"><h1>KURSER</h1></div>
	{{teacherbubble}}

</body>
</html>