<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Profil</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/profile.css" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

	<header>
		<a id="back" href="./index.php?from=profile"><img src="img/arrow.svg" alt="back arrow"></a>
		<h1>PROFIL</h1>
	</header>
	<div id="bodydiv">
		<div id="dividerContainer">
			<div id="profileInfo">
			<p>
				Namn: {{username}}
				<br>
				Klass: {{class}}
				</p>
			</div>
			<div class="profileDivider" id="unspecifiedDivider">
				TBD
			</div>
			<div class="profileDivider" id="attendanceChartDivider">
				<script>
					window.onload = function() {
						
						var chart = new CanvasJS.Chart("narvaro", {
							animationEnabled: true,
							data: [{
								type: "pie",
								startAngle: 240,
								yValueFormatString: "##0.00\"%\"",
								indexLabel: "{label} {y}",
								dataPoints: [
									{y:{{attendance}}, label: "Närvaro", color:"#83E80C"},
									{y:{{valid}}, label: "giltig frånvaro", color:"#FFA300"},
									{y:{{invalid}}, label: "ogiltig frånvaro", color:"#E80C2F"}
								]
							}]
						});
						chart.render();
						
					}
				</script>
				<div id="narvaro">
					
				</div>
			</div>
			<div class="profileDivider" id="attendanceDivider1">
				<h2 style="font-size: 2em;">SENASTE 3 OGILTIG FRÅNVARO</h2>
				<p>
					<ul style="font-size: 2em;">
						{{invalidlessons}}
					</ul>						
				</p>
				</div>
				<div class="profileDivider" id="attendanceDivider2">
					<h2 style="font-size: 2em;">SENASTE 3 GILTIG FRÅNVARO</h2>
					<p>
						<ul style="font-size: 2em;">
							{{validlessons}}
						</ul>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>