<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Schema</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/schedule.css" rel="stylesheet" type="text/css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>
<body>
	<header>
		<a id="back" href="index.php?from=schedule"><img src="img/arrow.svg" height="30em" alt="back arrow"></a>
		<h1 style="font-size: 4vw">- V.<span id="week">{{week}}</span> +</h1>
	</header>
	<div id="fingscrolldiv">
		<div id="daysContainer">
			<div class="day">
				<h1>MÅNDAG</h1>
				<div class="lessons">
					{{monday}}
				</div>
			</div>
			<div class="day">
				<h1>TISDAG</h1>
				<div class="lessons">
					{{tuesday}}
				</div>
			</div>
			<div class="day">
				<h1>ONSDAG</h1>
				<div class="lessons">
					{{wednesday}}
				</div>
			</div>
			<div class="day">
				<h1>TORSDAG</h1>
				<div class="lessons">
					{{thursday}}
				</div>
			</div>
			<div class="day">
				<h1>FREDAG</h1>
				<div class="lessons">
					{{friday}}
				</div>
			</div>
		</div>
	</div>
	<div id="dialog">
    	<div id="topRow"><h2 id="lessonName">Namn</h2></div>
		<div href="#" id="close">X</div>
		{{cancellesson}}
        <div id="cancelledBy"><h3>Inställd av</h3></div>
		{{attendancebutton}}}
        <div id="note">{{note}}</div>
	</div>
	<script src="js/schedule.js"></script>
</body>
</html>